.DS_Store
.idea
.gradle
/build
./build
/intermediates
build
DS_Store
*.iml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/captures
.externalNativeBuild
.cxx
local.properties
/drawable
drawable
